nav{
    background-color: #2563EB;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
ul{
        display: flex;
        gap: 32px;
}
ul :hover{
         color: aliceblue;
}
a{
    text-decoration: none;
    
    color: rgb(2, 2, 2);
}
.name{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
}
.name :hover{
        background-color: black;
}