 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #778a9c, #65c0e7);
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    text-align: center;
    font-size: 25px;
    color: #8628c9;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    margin-bottom:5px;
    text-transform: capitalize;
}

.page {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upper-part,
.lower-part {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.lower-part {
    margin-top: 15px;
}

.card {
    width: 400px;
    background: yellowgreen;
    border: 8px solid #09eef2;
    border-radius: 10px;
    padding: 10px;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 15px rgba(2, 2, 2, 0.963);
}

.card img {
    width: 100px;
    height: 100px;
}

.card span {
    display: block;
    margin: 5px 0;
    font-size: 15px;
    color: #0679e6;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
    font-weight: bold;
}

.card p {
    color: #cb7878;
    font-size: 14px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}